:root {
  --primary: #85f3fa;
  --card_background: #28494b;
  --contrast_dark_prime80: #1b3132;
  --contrast_light_prime80: #e7fdfe;
  --background_prime90: #0d1819;
  --contrast_prime_light90: #f3feff;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--background_prime90);
  color: var(--contrast_prime_light90);
}

a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.land {
  height: 100vh;
  background-image: url(/images/svgs/shade.svg);
  position: relative;
  overflow: hidden;
}
.words {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: end;
  line-height: 1.2;
}
.blob_rt {
  position: absolute;
  top: 35%;
  right: 8%;
  transform: translate(-8%, -35%);
}
.blob_rb {
  position: absolute;
  bottom: 25%;
  right: 25%;
  transform: translate(-25%, -25%);
}
.blob_lt {
  position: absolute;
  top: 15%;
  left: 30%;
  transform: translate(-30%, -15%);
}
.blob_lb {
  position: absolute;
  bottom: 0%;
  left: 0%;
  transform: translate(-0%, -0%);
}
.nav {
  display: flex;
  justify-content: space-between;
}
.nav ul {
  display: flex;
}

.nav ul li {
  align-items: center;
  margin-left: 10px;
}
.nav ul li:hover {
  color: var(--primary);
}

.nav-wrap {
  padding: 30px 10%;
}
.btn-wrap {
  margin-top: 25px;
}
.btn {
  background-color: var(--primary);
  border: none;
  color: var(--contrast_dark_prime80);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
}
.btn:hover {
  background-color: var(--contrast_dark_prime80);
  color: var(--contrast_prime_light90);
}
